There is a requirements lists of CatFight . I hope you can update yours question if you find a bug of game . 

Thank you !

Requirements:

1.optimize the programe structure 
2.猫窝休息后提示生命值 
3.升级后回满生命值 
4.增加可供收集的成就和装备系统 
